# Data Science Tools and Ecosystem

### In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
* Create a Jupyter Notebook
* Create markdown cell with title of the notebook
* Create a markdown cell for an introduction
* Create a markdown cell to list data science languages
* Create a markdown cell to list data science libraries
* Create a markdown cell with a table of Data Science tools
* Create a markdown cell introducing arithmetic expression examples
* Create a code cell to multiply and add numbers
* Create a code cell to convert minutes to hours
* Insert a markdown cell to list Objectives
* Create a markdown cell to indicate the Author's name
* Share your notebook through GitHub

#### Some of the popular languages that Data Scientists use are:
1. Python
2. C++
3. R
4. Julia
5. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Scikit learn
2. Seaborn 
3. Pandas
4. Numpy
5. MatPlotLib

Data Science Tools|
-------------------
Hadoop|
Apache Spark|
TensorFlow|

### Below are a few examples of evaluating arithmetic expressions in Python

In [3]:
#This a simple arithmetic expression to mutiply then add integers

(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60

print("200 minutes are", 200/60, "hours")

200 minutes are 3.3333333333333335 hours

## Author
Garik Sanasaryan